body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:60px;
background:#1e293b;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
color:#38bdf8;
}

.project{
background:#1e293b;
padding:20px;
margin-top:15px;
border-radius:10px;
}

a{
color:#38bdf8;
text-decoration:none;
}