*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

header{
position:fixed;
width:100%;
top:0;
z-index:100;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1503264116251-35a269479413") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.hero-content{
position:relative;
max-width:700px;
}

.hero span{
color:#38bdf8;
}

.hero-buttons{
margin-top:20px;
}

.btn{
background:#38bdf8;
color:black;
padding:12px 25px;
text-decoration:none;
margin-right:10px;
border-radius:6px;
}

.btn-outline{
border:2px solid #38bdf8;
padding:10px 25px;
text-decoration:none;
color:white;
border-radius:6px;
}

section{
padding:100px 10%;
text-align:center;
}

.section-title{
color:#38bdf8;
margin-bottom:30px;
}

.about-text{
max-width:700px;
margin:auto;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:25px;
margin-top:40px;
}

.skill{
background:#1e293b;
padding:25px;
border-radius:10px;
}

.skill i{
font-size:35px;
margin-bottom:10px;
color:#38bdf8;
}

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
margin-top:40px;
}

.project-card{
background:#1e293b;
border-radius:10px;
padding:20px;
}

.project-img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

.project-btn{
display:inline-block;
margin-top:10px;
color:#38bdf8;
text-decoration:none;
}

.social-icons{
margin-top:20px;
}

.social-icons a{
font-size:28px;
margin:10px;
color:white;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}